%ol.breadcrumb
  %li.active #{@event.name.upcase}

=partial(:_event_nav)

%p Finalize the settings for your event, then click 'Start Event' when finished.
%form.form.form-horizontal{ method: 'POST', onsubmit: 'return false;' }
  .form-group
    %label.col-sm-2.control-label Points for a win:
    .col-sm-10
      %label.radio-inline
        %input.matchpoints{ name: 'matchpoints', type: 'radio', value: 1, checked: @event.matchpoints == 1 ? true : false} 1
      %label.radio-inline
        %input.matchpoints{ name: 'matchpoints', type: 'radio', value: 2, checked: @event.matchpoints == 2 ? true : false} 2
      %label.radio-inline
        %input.matchpoints{ name: 'matchpoints', type: 'radio', value: 3, checked: @event.matchpoints == 3 ? true : false } 3
  .form-group
    %label.col-sm-2.control-label Points for a tie:
    .col-sm-10
      %label.radio-inline
        %input.tiepoints{ name: 'tiepoints', type: 'radio', value: 0, checked: @event.tiepoints == 0 ? true: false } 0
      %label.radio-inline
        %input.tiepoints{ name: 'tiepoints', type: 'radio', value: 1, checked: @event.tiepoints == 1 ? true: false } 1
  .form-group
    %label.col-sm-2.control-label Semi Finalists:
    .col-sm-10
      %label.radio-inline
        %input.semis{ name: 'semis', type: 'radio', value: 'xgrouppoints', checked: @event.semis == 'xgrouppoints' ? true : false } Cross group by points
      %label.radio-inline
        %input.semis{ name: 'semis', type: 'radio', value: 'grouppoints', checked: @event.semis == 'grouppoints' ? true : false } Same group by points.
      %label.radio-inline
        %input.semis{ name: 'semis', type: 'radio', value: 'points', checked: @event.semis == 'points' ? true : false } Pure Points
      %i.fa.fa-question-circle.clickable{ data: { container: 'body', toggle: 'popover', placement: 'left', title: 'Group Points',  content: 'How group play affects the semifinals.  "Cross group by points" will have the top finisher from one group play the second finisher from the second group (only supported for 2 groups) and vice versa.  "Same group by points" will have the top finisher in the group play the second place team.  "Pure points" will build the semifinals based on points regardless of the group/division.' } }
  .form-group
    %label.col-sm-2.control-label{ for: "group_advance" } Teams advancing from group stage:
    .col-sm-2
      %input.form-control#group_advance{ placeholder: '2', type: 'number', name: "group_advance", value: @event.group_advance }

%a.btn.btn-success{ href: url("/event/#{@event.id}/start") } Start Event
%a.btn.btn-danger{ href: url("/event/#{@event.id}/delete") } Delete Event!

:javascript
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover({ 'trigger': 'hover', 'html': 'true' });
  });

  $('.matchpoints').change(function(e) {
    $.post("/event/#{@event.id}/update", { update: 'matchpoints', value: $(this).val() });
  });
  $('.tiepoints').change(function(e) {
    $.post("/event/#{@event.id}/update", { update: 'tiepoints', value: $(this).val() });
  });
  $('.semis').change(function(e) {
    $.post("/event/#{@event.id}/update", { update: 'semis', value: $(this).val() });
  });
  $('#group_advance').change(function(e) {
    $.post("/event/#{@event.id}/update", { update: 'group_advance', value: $(this).val() });
    $(this).blur();
  });
