- unless @event.scheduled
  %h4 Event not started, no matches scheduled.
.row
  .col.xs-12.col-sm-12.col-md-12.col-lg-12
    %ul.nav.nav-tabs
      - @event.matches_dataset.to_hash_groups(:match_num).each do |match_num, group_matches|
        - match = Match[event_id: @event.id, match_num: match_num]
        - unless match.elim or match.semi or match.final
          %li{ role: 'presentation' }
            %a{ href: "#Match_#{match_num}", role: 'tab', data: { toggle: 'tab' } } Match #{match_num}
      - if @event.semi_matches?
        %li{ role: 'presentation' }
          %a{ href: "#Semifinals", role: 'tab', data: { toggle: 'tab' } } Semifinals
      - if @event.elim_matches?
        %li{ role: 'presentation' }
          %a{ href: "#Elimination", role: 'tab', data: { toggle: 'tab' } } Elimination
      - if @event.final_matches?
        %li{ role: 'presentation' }
          %a{ href: "#Finals", role: 'tab', data: { toggle: 'tab' } } Finals

.row
  .tab-content
    - @event.matches_dataset.to_hash_groups(:match_num).each do |match_num, group_matches|
      .tab-pane{ id: [ 'Match', match_num ], role: 'tabpanel' }
        .panel.panel-default
          %table.table.table-striped.table-condensed.table-bordered
            %thead
              %tr
                - @event.groups.each do |group|
                  %th.group_name_heading{ colspan: 4 } #{group.name.capitalize}
            %tbody
              %tr
                %th Match #{match_num}
                - group_matches.each do |match|
                  %th= match.showdown
                  - if (match.id % 2 == 0)
                    %th Hole
              - @event.team_seeds.each do |seed|
                %tr
                  %td #{seed}
                  - group_matches.each do |match|
                    %td #{match.seed_showdown(seed)}
                    - if (match.id % 2 == 0)
                      %td.edit_hole.clickable{ data: { id: "starthole_#{match.id}_#{seed}" } }
                        - assignment_ref = "starthole_#{match.id}_#{seed}"
                        %span#span_starthole{ id: [ match.id, seed ] }
                          - assignment = Assignment.where(event_id: @event.id, reference: assignment_ref).first
                          - if assignment.nil?
                            &nbsp;
                          - else
                            #{assignment.info}
                        %input.form-control.tab_move.hidden#starthole{ id: [ match.id, seed ] }
    - if @event.semi_matches?
      .tab-pane#Semifinals{ role: 'tabpanel' }
        .panel.panel-default
          %table.table.table-striped.table-consensed.table-bordered
            %tbody
              %tr
                %th Semifinals
                - @event.semi_matches.each do |match|
                  %th= match.showdown
                  - if (match.id % 2 == 0)
                    %th Hole #{icon('edit')}
              - @event.team_seeds.each do |seed|
                %tr
                  %td #{seed}
                  - @event.semi_matches.each do |match|
                    %td #{match.seed_showdown(seed)}
                    - if (match.id % 2 == 0)
                      %td.edit_hole.clickable{ data: { id: "starthole_#{match.id}_#{seed}" } }
                        - assignment_ref = "starthole_#{match.id}_#{seed}"
                        %span#span_starthole{ id: [ match.id, seed ] }
                          - assignment = Assignment.where(event_id: @event.id, reference: assignment_ref).first
                          - if assignment.nil?
                            &nbsp;
                          - else
                            #{assignment.info}
                        %input.form-control.tab_move.hidden#starthole{ id: [ match.id, seed ] }
    - if @event.final_matches?
      .tab-pane#Finals{ role: 'tabpanel' }
        .panel.panel-default
          %table.table.table-striped.table-consensed.table-bordered
            %tbody
              %tr
                %th Finals
                - @event.final_matches.each do |match|
                  %th= match.showdown
                  %th Hole #{icon('edit')}
              - @event.team_seeds.each do |seed|
                %tr
                  %td #{seed}
                  - @event.final_matches.each do |match|
                    %td #{match.seed_showdown(seed)}
                    %td.clickable.edit_hole{ data: { id: "starthole_#{match.id}_#{seed}" } }
                      - assignment_ref = "starthole_#{match.id}_#{seed}"
                      %span#span_starthole{ id: [ match.id, seed ] }
                        - assignment = Assignment.where(event_id: @event.id, reference: assignment_ref).first
                        - if assignment.nil?
                          &nbsp;
                        - else
                          #{assignment.info}
                      %input.form-control.tab_move.hidden#starthole{ id: [ match.id, seed ] }
    - if @event.elim_matches?
      .tab-pane#Elimination{ role: 'tabpanel' }
        .panel.panel-default
          %table.table.table-striped.table-consensed.table-bordered
            %tbody
              %tr
                %th Elimination Match
                - @event.elim_matches.each do |match|
                  %th= match.showdown
                  %th Hole #{icon('edit')}
              - @event.team_seeds.each do |seed|
                %tr
                  %td #{seed}
                  - @event.elim_matches.each do |match|
                    %td #{match.seed_showdown(seed)}
                    %td.clickable.edit_hole{ data: { id: "starthole_#{match.id}_#{seed}" } }
                      - assignment_ref = "starthole_#{match.id}_#{seed}"
                      %span#span_starthole{ id: [ match.id, seed ] }
                        - assignment = Assignment.where(event_id: @event.id, reference: assignment_ref).first
                        - if assignment.nil?
                          &nbsp;
                        - else
                          #{assignment.info}
                      %input.form-control.tab_move.hidden#starthole{ id: [ match.id, seed ] }


:javascript
  $('.tab_move').keydown(function(e) {
    if (e.which == 9) { // tab
      var inputs = $(this).closest('table').find('input');
      var next_input = inputs.eq( inputs.index(this) + 1 )[0];
      var jq_next_input = $(next_input);
      // console.log("next_input: ", next_input);
      // console.log(jq_next_input.attr('id'));
      $(next_input).removeClass('hidden');
      $('#span_' + jq_next_input.attr('id')).addClass('hidden');
    }
  });

  $('.edit_hole').click(function(e) {
    // console.log("click:", this);
    $(this).find('span').addClass('hidden');
    $('input#' + this.dataset.id).removeClass('hidden').focus();
  });

  $('.tab_move').blur(function(e) {
    // console.log("blur:", this);
    $('span#span_' + $(this).attr('id')).removeClass('hidden');
    $(this).addClass('hidden');
  });

  $('.tab_move').change(function(e) {
    // console.log("change:", this);
    var myid = $(this).attr('id');
    if (this.nodeName == 'INPUT') {
      $.post('/assignment/#{@event.id}/' + this.id, { info: $(this).val() });
      $(this).addClass('hidden');
      $('span#span_' + $(this).attr('id')).removeClass('hidden').html($(this).val());
    }
  });
