%ol.breadcrumb
  %li
    %a{ href: url("/event/#{@event.id}") } #{@event.name.upcase}
  %li
    %a{ href: url("/event/#{@event.id}/matches") } Matches
  %li.active #{@match.team_a.name} #{vs} #{@match.team_b.name}

%table.table.table-hover
  %thead
    %tr
      %th
      %th Team #{@match.team_a.name}
      %th.versus #{vs}
      %th Team #{@match.team_b.name}
  %tbody
    - @match.games.sort{ |x,y| x.id <=> y.id }.each do |game|
      %tr{ data: { href: url("/event/#{@event.id}/game/#{game.id}") } }
        %th #{game.seed}
        %td
          - if game.winner == game.player_a.id
            %i.fa.fa-fw.fa-trophy
            #{game.player_a.name}
            %strong #{game.holes_up} &amp; #{game.holes_remaining}
          - else
            #{game.player_a.name}
        %td.versus
          .btn-group{ role: 'group' }
            %button.game_winner.btn.btn-default{ type: 'button',
              data: { match_id: @match.id,
                game_id: game.id,
                event_id: @event.id,
                player_a: game.player_a.to_hash,
                player_b: game.player_b.to_hash,
                winner: game.player_a.id,
                team_a: game.player_a.team.to_hash,
                team_b: game.player_b.team.to_hash,
                toggle: 'modal',
                target: '#gameWinnerModal' } }
              %i.fa.fa-fw.fa-arrow-left
            %button.game_tie.btn.btn-default{ type: 'button' }
              %i.fa.fa-fw.fa-arrows-h
            %button.game_winner.btn.btn-default{ type: 'button',
              data: { match_id: @match.id,
                game_id: game.id,
                event_id: @event.id,
                player_a: game.player_a.to_hash,
                player_b: game.player_b.to_hash,
                winner: game.player_b.id,
                team_a: game.player_a.team.to_hash,
                team_b: game.player_b.team.to_hash,
                toggle: 'modal',
                target: '#gameWinnerModal' } }
              %i.fa.fa-fw.fa-arrow-right
        %td
          - if game.winner == game.player_b.id
            %i.fa.fa-fw.fa-trophy
            #{game.player_b.name}
            %strong #{game.holes_up} &amp; #{game.holes_remaining}
          - else
            #{game.player_b.name}
  %tfoot
    %tr
      %th &nbsp;
      %td #{@match.team_a_wins} &mdash; #{@match.team_a_losses} &mdash; #{@match.team_a_ties}
      %th &nbsp;
      %td #{@match.team_b_wins} &mdash; #{@match.team_b_losses} &mdash; #{@match.team_b_ties}

%form.form-inline#gameResult{ method: 'post', action: '', role: 'form', data: { toggle: 'validator', disable: true } }
  .modal.fade#gameWinnerModal{ tabindex: '-1', role: 'dialog' }
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          %button.close{ type: 'button', data: { dismiss: 'modal' }, 'aria-label': 'Close' }
            %span{ 'aria-hidden': 'true' } &times;
          %h4.modal-title Game Winner
        .modal-body
          %table.table
            %thead
              %tr
                %th.winning_team
                %th &nbsp;
                %th.losing_team
            %tbody
              %tr
                %td.winning_player
                %td
                  %em defeats 
                %td.losing_player
          %input#winnerId{ type: 'hidden', name: 'winner_id', value: '' }
          %input#gameId{ type: 'hidden', name: 'game_id', value: '' }
          .form-group
            %label.control-label.sr-only{ for: 'holesUp' } Holes UP
            .input-group.input-sm
              %input.form-control#holesUp{ type: 'number', placeholder: 2, name: 'holes_up', required: true, 'aria-describedby': 'addonUp' }
              %span.input-group-addon#addonUp Up
          .form-group
            %label.control-label.sr-only{ for: 'holesRemaining' } Holes Remaining
            .input-group.input-sm
              %input.form-control#holesRemaining{ type: 'number', placeholder: 1, 'aria-describedby': 'remaining', name: 'holes_remaining', required: true }
              %span.input-group-addon#addonUp Left
        .modal-footer
          %button.btn.btn-default{ data: { dismiss: 'modal' } } Close
          %button.btn.btn-primary{ type: 'submit' } Record Game Result

-# %script{ src: url('/bower_components/jquery-validation/dist/jquery.validate.min.js') }

:javascript
  $(document).ready(function(){
    $('form#gameResult').submit(function(e) {
      // e.preventDefault();
      // $.post($(this).attr('action'), $(this).serialize())

    });

    $('.game_winner').click(function(e) {
      $('#gameResult').attr('action', "/event/#{@event.id}/game/" + this.dataset.gameId);
      // $('#gameResult').validator();
      $('input#gameId').val(this.dataset.gameId);
      if (this.dataset.winner == this.dataset.playerAId) {
        $('.winning_player').html(this.dataset.playerAName);
        $('.winning_team').html(this.dataset.teamAName);
        $('input#winnerId').val(this.dataset.playerAId);
        $('.losing_player').html(this.dataset.playerBName);
        $('.losing_team').html(this.dataset.teamBName);
      } else if (this.dataset.winner == this.dataset.playerBId) {
        $('.winning_player').html(this.dataset.playerBName);
        $('.winning_team').html(this.dataset.teamBName);
        $('input#winnerId').val(this.dataset.playerBId);
        $('.losing_player').html(this.dataset.playerAName);
        $('.losing_team').html(this.dataset.teamAName);
      } else {
        console.log('winner does not match id');
        $('span.winner').html('PROBLEM!!');
        $('span.loser').html('PROBLEM!!');
      }
    });
  });
