%h3 Incomplete / Unreported Player Matches
.col-md-8
  %table.table.table-condensed
    - @event.games_dataset.where(completed: false, sudden_death: false).order(:seed).each do |game|
      %tr
        %td
          Match #{game.match.match_num}
          %a{ href: url("/event/#{@event.id}/matches/player/#{game.player_a.id}"), data: { toggle: 'tooltip', title: 'Player matches' } }
            #{game.player_a.name}
          %a{ href: url("/event/#{@event.id}/matches/team/#{game.player_a.team.id}"), data: { toggle: 'tooltip', title: 'Team matches' } }
            %small (#{game.player_a.team.name})
          #{vs}
          %a{ href: url("/event/#{@event.id}/matches/player/#{game.player_b.id}"), data: { toggle: 'tooltip', title: 'Player matches' } }
            #{game.player_b.name}
          %a{ href: url("/event/#{@event.id}/matches/team/#{game.player_b.team.id}"), data: { toggle: 'tooltip', title: 'Team matches' } }
            %small (#{game.player_b.team.name})
        %td
          .btn-group.pull-right{ role: 'group', data: { toggle: 'tooltip', title: 'Decide player match' } }
            %button.decide_match.btn.btn-default{ type: 'button',
              href: '#',
              data: { toggle: 'modal',
                player_a: game.player_a.to_hash,
                player_b: game.player_b.to_hash,
                team_a: game.player_a.team.to_hash,
                team_b: game.player_b.team.to_hash,
                showdown: game.showdown,
                target: '#decideMatch',
                game: game.to_hash } } #{icon('gavel')}

%form.form-inline#gameResult{ method: 'POST', data: { toggle: 'validator' } }
  .modal.fade#decideMatch{ tabindex: '-1', role: 'dialog' }
    .modal-dialog
      .modal-content.modal-sm
        .modal-header
          %button.close{ type: 'button', 'aria-label': 'close', data: { dismiss: 'modal' } }
            %span{ 'aria-hidden': 'true' } &times;
          %h4.modal-title Select Winner
        .modal-body
          %table.table
            %thead
              %tr
                %th#teamA
                %th
                %th#teamB
            %tbody
              %tr
                %td
                  .radio
                    %label
                      %span#playerA Winner
                      %input#radioplayerA{ type: 'radio', name: 'winner_id' }
                %td
                  .radio
                    %label
                      %span Tie
                      %input#tieMatch{ type: 'radio', name: 'winner_id', value: 'tie' }
                %td
                  .radio
                    %label
                      %span#playerB Winner
                      %input#radioplayerB{ type: 'radio', name: 'winner_id' }
          .form-group
            %label.control-label.sr-only{ for: 'holesUp' } Holes UP
            .input-group.input-sm
              %input.form-control#holesUp{ type: 'number', placeholder: 2, name: 'holes_up', required: true, 'aria-describedby': 'addonUp' }
              %span.input-group-addon#addonUp Up
          .form-group
            %label.control-label.sr-only{ for: 'holesRemaining' } Holes Remaining
            .input-group.input-sm
              %input.form-control#holesRemaining{ type: 'number', placeholder: 1, 'aria-describedby': 'remaining', name: 'holes_remaining', required: true }
              %span.input-group-addon#addonUp Left
        .modal-footer
          %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } } Close
          %button.btn.btn-primary#recordMatch{ type: 'submit' } Record Player Match


:javascript
  $(function () {
    $('.decide_match').click(function(e) {
      console.log(this.dataset);
      $('#playerA').html(this.dataset.playerAName);
      $('#playerB').html(this.dataset.playerBName);
      $('#radioplayerA').val(this.dataset.playerAId);
      $('#radioplayerB').val(this.dataset.playerBId);
      $('#teamA').html(this.dataset.teamAName);
      $('#teamB').html(this.dataset.teamBName);

      $('form#gameResult').attr('action', "/event/#{@event.id}/game/" + this.dataset.gameId);
    });

    $('#recordMatch').click(function(e) {
    /*
      var winner_id = $("input[name='result']:checked").val();
      var game_id = 0;
      if (winner_id == 'tie') {
        $.get("/event/#{@event.id}/game/" + game_id + "/tie");
      } else {
      }
    */
    });


  });
