%html
  %head
    %meta( charset="utf-8" )
    %meta( http-equiv="X-UA-Compatible" content="IE=edge" )
    %meta( name="viewport" content="width=device-width, initial-scale=1" )
    %meta( name="description" content="" )
    %meta( name="author" content="" )
    %link( ref="icon" href="/favicon.ico" )
    %title TeamDG::#{@title}

    /= sprockets load all the stylesheets
    = stylesheet_tag 'app'

    /= Custom css
    %link{ href: '/css/styles.css', rel: 'stylesheet' }

  %body
    /= Load javascripts
    = javascript_tag 'app'

    .wrapper
      %nav.navbar.navbar-default.navbar-static-top{ role: 'navigation', style: 'margin-bottom: 0' }
        .navbar-header
          %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-collapse' } }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ href: url('/') } TeamDG
        %ul.nav.navbar-top-links.navbar-right
          %li.dropdown
            %a.dropdown-toggle{ data: { toggle: 'dropdown' }, href: '#' } #{icon('user', fw: true)} #{icon('caret-down', fw: true)}
            %ul.dropdown-menu.dropdown-user
              %li
                %a{ href: '#' } #{icon('user', fw: true)} User Profile
              %li
                %a{ href: '#' } #{icon('gear', fw: true)} Settings
              %li.divider
              %li
                %a{ href: url('/login') } #{icon('sign-out', fw: true)} Settings

        .navbar-default.sidebar{ role: 'navigation' }
          .sidebar-nav.navbar-collapse
            %ul.nav.in#side-menu
              %li
                %a{ href: url('/dashboard') } #{icon('dashboard', fw: true)} Dashboard
              %li
                %a{ href: url('/events/') }
                  #{icon('calendar', fw: true)}
                  %span Events
                  %span.badge.pull-right #{Event.all.count}
              %li
                %a{ href: url('/event/new') }
                  #{icon('plus', fw: true)}
                  %span New Event
              - unless @event.nil?
                - if request.path_info.include?('/event/')
                  %li
                    %a{ href: '#' }
                      #{icon('sitemap', fw: true)}
                      #{@event.name}
                      %span.fa.arrow
                    %ul.nav.nav-second-level.collapse.in{ 'aria-expanded': 'true' }
                      %li
                        %a{ href: url("/event/#{@event.id}/settings") }
                          Settings
                          %span.pull-right.fa.fa-cogs
                      %li
                        %a{ href: url("/event/#{@event.id}/groups") }
                          Group Assignment
                          %span.pull-right #{icon('shield')}
                      %li
                        %a{ href: url("/event/#{@event.id}/team/") }
                          Teams
                          %span.pull-right.fa.fa-bus
                      %li
                        %a{ href: url("/event/#{@event.id}/rosters") }
                          Rosters
                          %span.pull-right.fa.fa-users
                      %li
                        %a{ href: '#' }
                          Round Robin Matches
                          %span.fa.arrow
                        %ul.nav.nav-third-level.collapse
                          %li
                            %a{ href: url("/event/#{@event.id}/matches/event") }
                              Event Matches
                              %span.pull-right.fa.fa-calendar-plus-o
                          %li
                            %a{ href: url("/event/#{@event.id}/matches/group") }
                              Group Matches
                              %span.fa-stack.fa-sm.pull-right
                                #{icon('calendar-o', size: 'stack-2x', fw: true)}
                                #{icon('users', size: 'stack-1x', ex_classes: 'inside_calendar', fw: true)}
                          %li
                            %a{ href: url("/event/#{@event.id}/matches/team") }
                              Team Matches
                              %span.fa-stack.fa-sm.pull-right
                                #{icon('calendar-o', size: 'stack-2x', fw: true)}
                                #{icon('bus', size: 'stack-1x', ex_classes: 'inside_calendar', fw: true)}
                          %li
                            %a{ href: url("/event/#{@event.id}/matches/player") }
                              Player Matches
                              %span.fa-stack.fa-sm.pull-right
                                #{icon('calendar-o', size: 'stack-2x', fw: true)}
                                #{icon('user', size: 'stack-1x', ex_classes: 'inside_calendar', fw: true)}
                          %li
                            %a{ href: url("/event/#{@event.id}/matches/games/unreported") }
                              Unreported Games
                              %span.pull-right.badge #{@event.rr_incomplete}
                      %li
                        %a{ href: url("/event/#{@event.id}/standings") } Standings #{icon('bar-chart', ex_classes: 'pull-right', fw: true)}
                      - if @event.elimination_match
                        %li
                          %a{ href: url("/event/#{@event.id}/elimination") } Elimination #{icon('suitcase', ex_classes: 'pull-right', fw: true)}
                      %li
                        %a{ href: url("/event/#{@event.id}/semifinals") } Semifinals #{icon('institution', fw: true, ex_classes: 'pull-right')}
                      %li
                        %a{ href: url("/event/#{@event.id}/finals") } Finals #{icon('trophy', ex_classes: 'pull-right', fw: true)}

      #page-wrapper{ style: 'min-height: 635px' }
        .row
          .col-lg-12= yield

:javascript
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
    $('.nav-tabs').stickyTabs();
  });
