%h1 this is the main

%span.fa-stack.fa-lg
  #{icon('calendar-o', size: 'stack-2x')}
  #{icon('bus', size: 'stack-1x', ex_classes: 'inside_calendar')}
%span.fa-stack.fa-lg
  #{icon('calendar-o', size: 'stack-2x')}
  #{icon('users', size: 'stack-1x', ex_classes: 'inside_calendar')}
%span.fa-stack.fa-lg
  #{icon('calendar-o', size: 'stack-2x')}
  #{icon('user', size: 'stack-1x', ex_classes: 'inside_calendar')}



%span.fa-stack.fa-sm
  #{icon('calendar-o', size: 'stack-2x', fw: true)}
  #{icon('bus', size: 'stack-1x', ex_classes: 'inside_calendar', fw: true)}
#{icon('calendar')}
