%ol.breadcrumb
  %li
    %a{ href: url("/event/#{@event.id}") } #{@event.name.upcase}
  %li.active Matches

%table.table.table-hover
  %thead
    %tr
      %th &nbsp;
      - @event.groups.each do |group|
        %th{ colspan: 2} #{group.name}
  %tbody
    - rows = @event.matches_dataset.map(:match_num).uniq
    - rows.each do |row|
      %tr
        %td Match #{row}
        - @event.matches_dataset.where(match_num: row).each do |match|
          %td
            %a{ href: url("/event/#{@event.id}/match/#{match.id}") }
              #{match.team_a.name} vs #{match.team_b.name}
