-# Warning this uses the RR schedule gem and needs the schedule object which doesn't exist after we've created it and moved on
%table.table
  %thead
    %tr
      %th
      - @event.groups.each do |group|
        %th{ colspan: 2 } #{group.name.capitalize}
  %tbody
    - @schedule.gamedays.each_with_index do |match, matchnum|
      - pp match.to_s
      %tr
        %th Match #{matchnum + 1}
        - match.games.each do |g|
          - pp g
          %td
            %a{ href: url("/event/#{@event.id}/match/") }
              #{g.team_a.to_s} <strong><small>vs</small></strong> #{g.team_b.to_s}




