%ol.breadcrumb
  %li
    %a{ href: url("/event/#{@event.id}") } #{@event.name.upcase}
  %li.active
    Team matches

%h3.page-header Team Matches

.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    .list-group
      - @event.teams.each do |team|
        %a.list-group-item{ href: url("/event/#{@event.id}/matches/team/#{team.id}") } #{team.name}
